.containerProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5% auto;
}

.card {
    padding: 1%;
    border-radius: 10px;
    background-color: var(--main-dark-grey-color);
}

.linkProject {
    transition: all 0.15s ease-in-out;

    &:hover {
        color: var(--main-green-color);
    }
}