.containerProfil {
    display: flex;
    flex-direction: column;
}

.me {
    .name {
        font-size: 34px;
    };
    .job {
        font-size: 16px
    };
    padding: 3% 8%;
}

.func {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    width: fit-content;
    background-color: rgb(45, 45, 45);
    margin: 0 auto;
    
}

.btnProfil {
    font-weight: 700;
    margin: 15px auto;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--main-grey-color);
    transition: all 0.15s ease-in-out;

    &:hover {
        color: var(--main-grey-color);
        background-color: var(--main-green-color);
    }
}

.aside-hidden {
    height: 60px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

.aside-visible {
    height: 170px;
    transition: height 0.2s ease-in-out;
}

.line {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.line-green {
    color: var(--main-green-color);
}

.line-visible {
    opacity: 1;
}

.red {
    color: #F5776F;
}

.blue {
    color: #A5D6FF;
}

.violet {
    color: #D2A8FF;
}

.green, .titleFunc {
    color: #01FE87;
}