.containerProfil {
    display: flex;
    flex-direction: column;
}

#me {
    .name {
        font-size: 34px;
    };
    .job {
        font-size: 16px
    };
    padding: 3% 8%;
}

.presentation {
    display: flex;
    justify-content: space-around;
}

.titleTechs {
    font-size: 18px;
}

.techIcons {
    color: var(--main-green-color);
    height: 40px;
    width: 40px;
    margin-left: 10px;

    &:hover {
        animation: colorChange 0.9s linear;
    }
}

@keyframes colorChange {
    0% {
        color: var(--main-green-color);
    }
    20% {
        color: var(--main-white-color);
    }
    100% {
        color: var(--main-green-color);
    }
}

.func {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    width: fit-content;
    background-color: var(--main-dark-grey-color);
}

.titleFunc {
    font-size: 26px;
    padding-bottom: 5%;
}

.btnProfil {
    font-weight: 700;
    margin: 15px auto;
    width: 45px;
    padding: 10px 10px;
    border-radius: 50px;
    background-color: var(--main-grey-color);
    transition: all 0.15s ease-in-out;

    &:hover {
        color: var(--main-grey-color);
        background-color: var(--main-green-color);
    }
}

.aside-hidden {
    height: 60px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

.aside-visible {
    height: 170px;
    transition: height 0.2s ease-in-out;
}

.line {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.line-green {
    color: var(--main-green-color);
}

.line-visible {
    opacity: 1;
}

.red {
    color: #F5776F;
}

.blue {
    color: #A5D6FF;
}

.violet {
    color: #D2A8FF;
}

.green, .titleFunc {
    color: #01FE87;
}
