.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    width: 70px;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: rotateY(180deg);
    }
}